*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

nav{
    background-color: bisque;
    line-height: 80px;
    height: 80px;
    width: 100%;
    overflow: hidden;
}

nav .logo{
    margin-left: 80px;
}

nav ul{
    float: right;
}

li{
    display:inline-block;
    margin-right: 20rem;
}

main{
    display:grid;
    place-items: center;
    min-height: calc(100vh - 3rem);
}

.container{
   text-align: center;
}

h2{
    background-color: aqua;
    border-radius: 30px;
    width: 30vw;
    padding: 1rem;
}

button{
    margin-top: 10px;
    padding: 8px;
    cursor: help;
    border-radius: 0 0 20px 20px;
    background-color: aqua;
    
}

button.active, button:hover{
    transition: 30s;
}

